<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="nVentive Rules - DevOpsTools - Base" Description="nVentive Rules - DevOpsTools - Base" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1038" Action="Warning" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Error" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1308" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1601" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1800" Action="Error" />
    <Rule Id="CA1802" Action="Error" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1824" Action="Error" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Error" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2200" Action="Error" />
    <Rule Id="CA2207" Action="Error" />
    <Rule Id="CA2211" Action="Error" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2214" Action="Error" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2218" Action="Error" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2223" Action="Error" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Error" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1998" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0102" Action="None" />
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1006" Action="Error" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1012" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1110" Action="Error" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1112" Action="Error" />
    <Rule Id="SA1113" Action="Error" />
    <Rule Id="SA1114" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="Error" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1120" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1127" Action="Error" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1133" Action="Error" />
    <Rule Id="SA1134" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1206" Action="Error" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="Error" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1211" Action="Error" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="Error" />
    <Rule Id="SA1312" Action="Error" />
    <Rule Id="SA1313" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1506" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1511" Action="Error" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1517" Action="None" />
    <Rule Id="SA1518" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="Error" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="Error" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
  <Rules AnalyzerId="Umbrella.Analyzers" RuleNamespace="Umbrella.Analyzers">
    <Rule Id="NV0056" Action="None" />
    <Rule Id="NV0058" Action="None" />
    <Rule Id="NV0060" Action="None" />
    <Rule Id="NV0085" Action="None" />
    <Rule Id="NV0111" Action="None" />
    <Rule Id="Umbrella.DoNotUseAsyncVoid" Action="Warning" />
  </Rules>
</RuleSet>